.divider {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #2a2b2a;
  /* margin: 0; */
  padding: 0;
}

.messageBox {
  border: 2px solid #dbdbd7;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
}
