.titles_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(10px,  calc( 1vw + 0.1rem ) , 1000px);
}

.titles_wrapper .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.titles_wrapper .header h6{
    font-weight: 700;
    font-size: clamp(14px,  calc( 1.6vw + 0.1rem ) , 900px);
}


.titles_wrapper .titles_container{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    padding: clamp(10px,  calc( 0.8vw + 0.1rem ) , 1000px);
    height: 100%;
    overflow-y: auto;
}

.add_title_wrapper{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    padding: clamp(10px,  calc( 0.8vw + 0.1rem ) , 1000px);
    height: 90%;
    background: var(--dark);
    position: relative;
}

.add_title_wrapper::before{
    content: "";
    position: absolute;
    left: -2vw;
    width: 1px;
    height: 50%;
    background: var(--dark);
    top: 50%;
    transform: translateY(-50%);
}

.add_title_wrapper label{
    font-size: clamp(12px,  calc( 1.7vw + 0.1rem ) , 1000px);
    font-weight: 700;
    color: var(--white);
}

.add_title_wrapper input{
    padding: clamp(10px,  calc( 0.6vw + 0.1rem ) , 1000px) 0;
    font-size: clamp(12px,  calc( 1vw + 0.1rem ) , 1000px);
    border-bottom: 1px solid var(--white);
    width: 60%;
    color: var(--white);
    background-color: transparent;
    outline: none;
}

.add_title_wrapper.disabled{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    padding: clamp(10px,  calc( 0.8vw + 0.1rem ) , 1000px);
    height: 90%;
    background: rgba(42, 43, 42, 0.03);
    position: relative;
}

.add_title_wrapper.disabled label{
    font-size: clamp(12px,  calc( 1.7vw + 0.1rem ) , 1000px);
    font-weight: 700;
    color: #ACACAC;
}

.add_title_wrapper.disabled input{
    padding: clamp(10px,  calc( 0.6vw + 0.1rem ) , 1000px) 0;
    font-size: clamp(12px,  calc( 1vw + 0.1rem ) , 1000px);
    border-bottom: 1px solid #ACACAC;
    width: 60%;
    color: #ACACAC;
    background-color: transparent;
    outline: none;
}