.boards h3 {
  font-weight: 700;
}
.boards h4 {
  font-weight: 700;
  font-size: clamp(14px, calc(1.2vw + 0.1rem), 80px);
}
.boards button {
  font-size: clamp(10px, calc(0.757vw + 0.1rem), 70px);
}

/* 01-3 Container for Current Projects slider */
.boards .lastUpdate {
  font-size: clamp(10px, calc(0.57vw + 0.1rem), 70px);
  text-align: end;
}

/* Project Cards & Template Cards */
.boards .cards,
.boards .templateCards {
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border: 2px solid #eaeaea;
}

.boards .templateCards {
  width: clamp(100px, calc(15vw + 0.1rem), 32vw);
}

/* Project Cards & Template Cards Hover States */
.boards .cards:hover,
.boards .templateCards:hover {
  transition: transform 0.5s;
  background: var(--dark);
}
.boards .cards:hover h3,
.boards .cards:hover .state p {
  color: white;
}

.boards .templateCards:hover h4 {
  color: white;
}
.boards .sliderCard:hover,
.boards .templateCards:hover {
  transform: translateY(-0.378vw);
}
.boards .cards:hover svg path {
  fill: white;
}
