.properityAndResult{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.properityAndResult p{
    color: rgba(136, 136, 136, 1);
    font-size: clamp(16px, calc(1.6vw + 0.1rem), 80px);
    font-weight: 300;
}

.loader {
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}}