.App {
    font-family: sans-serif;
}

.dropdown {
    z-index: 9999;
    width: clamp(200px, calc(17vw + 0.1rem), 1000px);
    position: relative;
}

.dropdown,
.dropdown * {
    z-index: 10;
}

.dropdown .dropdown_btn {
    width: 100%;
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(7px, calc(0.4vw + 0.1rem), 200px) clamp(20px, calc(1.6vw + 0.1rem), 200px);
    background: white;
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    font-weight: 400;
}

.dropdown .dropdown_btn svg{
    width: clamp(18px, calc(0.8vw + 0.1rem), 100px);
}
.dropdown .dropdown_btn.open svg{
    transform: rotateX(180deg);
}

.dropdown_content {
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    overflow: hidden;
}

.dropdown_content .item {
    position: relative;
    width: 100%;
    padding:  clamp(0.4rem, calc(0.4vw + 0.1rem), 500px) clamp(1rem, calc(1vw + 0.1rem), 500px);
    cursor: pointer;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
}

.dropdown_content .item:hover {
    background-color: var(--orange);
    color: var(--white);
}

.dropdown_content .item::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - clamp(0.7rem, calc(0.9vw + 0.1rem), 500px));
    height: 1px;
    background-color: var(--dark);
}

.dropdown_content .item:last-child:after{
    content: unset;
}