.App {
    font-family: sans-serif;
}

.dropdown {
    z-index: 9999;
    width: clamp(200px, calc(17vw + 0.1rem), 1000px);
    position: relative;
}

.dropdown,
.dropdown * {
    z-index: 10;
}

.dropdown .dropdown_btn {
    width: 100%;
    cursor: pointer;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(7px, calc(0.4vw + 0.1rem), 200px) clamp(20px, calc(1.6vw + 0.1rem), 200px);
    background: white;
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    font-weight: 400;
}

.dropdown .dropdown_btn.open svg{
    transform: rotateX(180deg);
}

.dropdown_content {
    position: absolute;
    top: 125%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    overflow: hidden;
}

.dropdown_content .item {
    padding: 10px;
    cursor: pointer;
}