.full-calender {
    position: relative;
}

.full-calender .filters {
    position: absolute;
    top: calc(1.5vw + clamp(2rem, calc(3vw + 0.1rem), 500px));
    width: 100%;
}

.full-calender .fc {
    gap: clamp(4rem, calc(4vw + 0.1rem), 500px);
}

.full-calender .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.full-calender .fc table.fc-scrollgrid-liquid {
    border: 1px solid var(--dark);
    border-radius: 40px;
    overflow: hidden;
}

.full-calender .fc .fc-scrollgrid-section>* {
    border-left-width: 1px;
}

.full-calender table.fc-col-header,
.full-calender .fc .fc-daygrid-body,
.full-calender .fc-scrollgrid-sync-table {
    width: 100% !important;
}

.full-calender .fc table.fc-col-header .fc-col-header-cell {
    border-bottom: 0;
    padding: clamp(8px, calc(1vw + 0.1rem), 200px) clamp(8px, calc(0.8vw + 0.1rem), 200px) 0
}

.full-calender .fc-toolbar-chunk {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.full-calender .fc .fc-toolbar-title {
    margin: 0px;
    font-size: clamp(16px, calc(1.6vw + 0.1rem), 600px);
    font-style: normal;
    font-weight: 700;
}

.full-calender .fc-button-group {
    display: flex;
    gap: clamp(8px, calc(0.8vw + 0.1rem), 200px);
}

.full-calender .fc .fc-scroller {
    overflow: auto !important;
}

.full-calender .fc .fc-scroller::-webkit-scrollbar {
    width: 0px;
}

.full-calender .fc-direction-ltr .fc-button-group>.fc-button {
    border-radius: clamp(4px, calc(0.2vw + 0.1rem), 200px);
    width: clamp(20px, calc(1.4vw + 0.1rem), 500px);
    height: clamp(20px, calc(1.4vw + 0.1rem), 500px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-calender .fc-direction-ltr .fc-button-group>.fc-button>.fc-icon {
    font-size: clamp(16px, calc(1.2vw + 0.1rem), 500px);
}

.full-calender .fc .fc-button-group>.fc-button,
.full-calender .fc .fc-button-group>.fc-button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.full-calender .fc-button-group .fc-prev-button {
    background-color: #DFDFDF;
}

.full-calender .fc-button-group .fc-next-button {
    background-color: var(--dark);
}

.full-calender .fc-today-button {
    color: var(--white);
    background-color: var(--dark);
    border-radius: clamp(6px, calc(0.3vw + 0.1rem), 200px);
    padding: clamp(3px, calc(0.2vw + 0.1rem), 200px) clamp(12px, calc(1vw + 0.1rem), 500px);
    height: clamp(15px, calc(1.4vw + 0.1rem), 500px);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
}

.full-calender .fc-today-button:disabled {
    color: var(--white);
    background-color: var(--dark);
    border-radius: clamp(6px, calc(0.3vw + 0.1rem), 200px);
    padding: clamp(6px, calc(0.4vw + 0.1rem), 200px) clamp(12px, calc(1vw + 0.1rem), 500px);
    opacity: 1;
}

.full-calender .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--white);
}

.full-calender .fc .fc-daygrid-day-number {
    border-radius: 50%;
    padding: clamp(8px, calc(0.3vw + 0.1rem), 500px);
    font-weight: 400;
    font-size: clamp(10px, calc(0.5vw + 0.1rem), 500px);
    width: clamp(10px, calc(1.3vw + 0.1rem), 500px);
    height: clamp(10px, calc(1.3vw + 0.1rem), 500px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-calender .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: var(--white);
    background: var(--dark);
    font-weight: 600;
}

.full-calender .fc-daygrid-day-top {
    position: absolute;
    bottom: clamp(8px, calc(0.5vw + 0.1rem), 500px);
    right: clamp(8px, calc(0.5vw + 0.1rem), 500px);
}

.full-calender .fc .fc-daygrid-day-frame {
    min-height: 100%;
    padding: clamp(7px, calc(0.5vw + 0.1rem), 500px);
}

.full-calender .fc .fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    width: fit-content;
    padding: 0rem 0.4rem;
    font-size: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    font-weight: 600;
}

.full-calender .fc .fc-event.fc-event-start.fc-bg-event,
.full-calender .fc .fc-event.fc-event-end.fc-bg-event,
.full-calender .fc .fc-event.fc-event-start.fc-daygrid-event.fc-daygrid-block-event.fc-h-event,
.full-calender .fc .fc-event.fc-event-end.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    width: 100%;
    padding: 0rem 0.4rem;
    font-size: clamp(8px, calc(0.65vw + 0.1rem), 500px);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.1vw;
}

.full-calender .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: clamp(3em, calc(3vw + 0.1rem), 500px);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0vw;
}

.full-calender .fc-theme-standard .fc-popover {
    padding: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 13px;
}

.full-calender .fc-theme-standard .fc-popover-header {
    background: transparent;
    justify-content: center;
    padding-bottom: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    border-bottom: 1px solid var(--dark);
}

.full-calender .fc .fc-popover-close {
    position: absolute;
    top: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    right: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    cursor: pointer;
    font-size: clamp(10px, calc(0.9vw + 0.1rem), 500px);
    opacity: 0.65;
}

.full-calender  .fc .fc-popover-title{
    font-weight: 600;
}