.archived h3 {
    font-weight: 700;
    font-size: clamp(16px, calc(1.514vw + 0.1rem), 80px);
    position: relative;
    margin-left: 23px;
}

.archived h4 {
    font-weight: 700;
    font-size: clamp(14px, calc(1.135vw + 0.1rem), 80px);
    margin-left: 23px;
}

.archived .heading::before {
content: "";
position: absolute;
border: 7px solid black;
border-color: transparent black transparent transparent;
top: 50%;
left: -23px;
transform: translateY(-50%);
margin-right: 0.568vw;
}

.archived .cards:hover{
 
    transition: transform 0.5s;
    background: var(--dark);
}

   .archived .cards:hover h3 ,.archived .cards:hover .state p {
    color: white;
}

.archived .sliderCard:hover,.archived .templateCards:hover {
    transform: translateY(-0.378vw);
}
.archived .cards:hover svg path {
    fill : white
}

.archived .cards {
    box-shadow: 1px 3px 6.6px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid rgba(234, 234, 234, 1);

}
.archived .lastUpdate {
    font-size: clamp(9px, calc(0.568vw + 0.1rem), 60px);
}
.archived .state {
    font-size: clamp(9px, calc(0.7vw + 0.1rem), 60px);
}