/* FollowersOverviewContainer */
.FollowersOverview {
  height: 100% !important;
}
.FollowersOverviewTitle {
  font-size: 15px;
  font-weight: 700;
}
.FollowersOverviewContainer {
  overflow: hidden;
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  /* padding: 1rem; */
}
.FollowersOverviewBody {
  height: 20vh;
  overflow-y: auto;
  font-size: clamp(12px, calc(0.6vw + 0.1rem), 50px);
}
.FollowersOverviewBody::-webkit-scrollbar {
  width: 2px;
}
.FollowersOverviewContainer table {
  width: 100%;
  border-collapse: collapse;
}
.FollowersOverviewContainer th,
.FollowersOverviewContainer td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.FollowersOverviewContainer .percentage {
  display: flex;
  align-items: center;
}
.FollowersOverviewContainer .percentage span {
  margin-left: 5px;
}
.FollowersOverviewContainer .up {
  color: green;
}
.FollowersOverviewContainer .down {
  color: red;
}
