.newBrand h3 {
  font-size: clamp(16px, calc(1.2vw + 0.1rem), 100px);
  font-weight: 800;
}
div.collapse-title {
  font-size: clamp(16px, calc(1.2vw + 0.1rem), 100px);
  font-weight: 800;
}
.newBrand input::placeholder {
  font-size: clamp(16px, calc(0.7vw + 0.1rem), 100px);
}
.newBrand h4 {
  font-size: clamp(16px, calc(1vw + 0.1rem), 100px);
  font-weight: 800;
}
.newBrand label {
  font-size: clamp(16px, calc(0.9vw + 0.1rem), 100px);
  font-weight: 800;
}
.newBrand a {
  align-self: start;
}
.newBrand .accordion {
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border: 1px solid #dbdbd7;
  background-color: #fffffb;
  color: black;
}
.newBrand .accordion:not(:last-child) {
  margin-bottom: 0.7vw;
}

  .accordion h4 {
    font-size: clamp(16px, calc(0.9vw + 0.1rem), 100px);
    font-weight: 800;
  }
  .accordion label {
    font-size: clamp(16px, calc(0.9vw + 0.1rem), 100px);
    font-weight: 800;
  }