.custom_audio_player {
    background-color: transparent !important;
    width: 100%;
    padding: 0 !important;
    box-shadow: none !important;
}

.custom_audio_player .rhap_main {
    gap: 2vh;
}

.custom_audio_player .rhap_progress-section{
    position: relative;
}

.custom_audio_player .rhap_progress-indicator{
    display: none;
}

.custom_audio_player .rhap_progress-filled{
    background-color: var(--dark);
    border-radius: 20px;

}

.custom_audio_player .rhap_time {
    font-size: 16px;
    font-weight: 700;
}

.custom_audio_player .rhap_progress-bar-show-download {
    border-radius: 20px;
    overflow: hidden;
}

.custom_audio_player .rhap_time.rhap_current-time {
    position: absolute;
    top: 100%;
    left: 0;
}

.custom_audio_player .rhap_time.rhap_total-time {
    position: absolute;
    top: 100%;
    right: 0;
}

.custom_audio_player .rhap_progress-container {
    display: block;
    align-items: center;
    height: 10px;
    margin: 0;
    width: 100%;
}

.custom_audio_player .iconify > path {
    fill: var(--dark);
}