.embla {
  max-width: fit-content;
  /* position: absolute; */
  margin: auto;
  --slide-height: 5rem;
  --slide-spacing: 2rem;
  --slide-size: 38%;
  box-shadow:  0px 49px 26px -21px #2A2B2A inset, 0px -43px 23px -21px #2A2B2A inset;
  background-color: blue;
  /* background-color: beige; */
  /* z-index: 333; */
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-x;
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
  transform: translate3d(0px, -19.006033px, 0px);
  /* background-color: beige; */
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-height: 0;
  padding-top: var(--slide-spacing);
  transition: all 0.1s ;
  /* z-index: 1;
  position: absolute; */
}
.embla__slide__content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  min-width: 100%;
  color: var(--white);
  font-size: clamp(16px, calc(1.8vw + 0.1rem), 80px);
}
