.genuisWorking{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(10px, calc(1.2vw + 0.1rem), 60px);
}
.allCheckers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}