.box {
  border-radius: 0.8vw;
  border: 1px solid var(--dark);
  overflow: hidden;
  position: relative;
}
.box video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movedCheckbox::after {
  content: "Selected";
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.movedCheckbox:has(> input[type="checkbox"]:checked)::after {
  z-index: 666;
}

.movedCheckbox input {
  position: absolute;
  top: 8%;
  right: 5%;
  margin: 0;
  display: flex;
  width: clamp(12px, calc(0.7vw + 0.1rem), 70px);
  height: clamp(12px, calc(0.7vw + 0.1rem), 70px);
  z-index: 999;
}
.movedCheckbox input:checked::after {
  background-color: #9b5fbf;
}

.footagePreview h5 {
  font-weight: 700;
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 60px);
}
.urlStyle a {
  text-decoration: underline;
  color: rgba(0, 102, 255, 1);
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 60px);
}
.videoPreview {
  border: 1px solid var(--dark);
  border-radius: 1vw;
  height: 30vh;
  overflow: hidden;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  cursor: pointer;
}
/* ===== Script Preview ===== */
.articleHeader h1,
.articlesToSelect h3 {
  font-size: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  font-weight: 700;
}
.articleHeader {
  display: flex;
  justify-content: space-between;
  text-align: center;
  user-select: none;
}
.articlePreviewData {
  display: flex;
  flex-direction: column;
  /* gap: clamp(16px, calc(1.6vw + 0.1rem), 80px); */
  padding-right: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  padding-left: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  padding-top: var(--sy-15px);
  padding-bottom: var(--sy-15px);
  overflow-y: auto;
  max-height: 100%;
}
.articlePreview {
  box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
  border: 1px solid transparent;
  border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  /* max-height: 57vh; */
  position: relative;
  padding: clamp(4px, calc(0.5vw + 0.1rem), 80px);
}
.articleHeader svg {
  width: clamp(14px, calc(1.5vw + 0.1rem), 70px);
  height: clamp(14px, calc(1.5vw + 0.1rem), 70px);
}
.articleContent {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: clamp(10px, calc(0.7vw + 0.1rem), 100px); */
}

.articleContent p {
  cursor: pointer;
  padding: 27px 22px;
  border-radius: 10px;
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 500px);
  font-weight: 400;
  user-select: none;
}
.articleContent:hover p,
.articleContent p.active {
  font-weight: 700;
  background-color: #2a2b2a;
  color: white;
}

/* Track */
.articlePreviewData::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
.articlePreviewData::-webkit-scrollbar-thumb {
  background: #2a2b2a;
  width: clamp(2px, calc(0.08vw + 0.1rem), 40px);
  border-radius: 10vw;
}

.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: clamp(56px, calc(22vw + 0.1rem), 800px);
  height: fit-content;
  background-color: var(--white);
  border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  border: 1px solid #dbdbd7;
  box-shadow: 1px 7px 7.4px 2px rgba(0, 0, 0, 0.2);
  padding: clamp(10px, calc(1.5vw + 0.1rem), 100px);
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.modal {
  background-color: rgba(255, 255, 251, 0.58);
}
.modalBox h3,
.modalBox label {
  font-weight: 700;
}
.modalBox h2 {
  font-size: var(--35px);
  font-weight: 700;
}
.createTicket svg {
  width: clamp(12px, calc(0.9vw + 0.1rem), 70px);
  height: clamp(12px, calc(0.9vw + 0.1rem), 70px);
}
.createTicket {
  padding-bottom: clamp(10px, calc(0.5vw + 0.1rem), 60px);
  border-bottom: 1px solid var(--dark);
}
.input {
  padding: clamp(5px, calc(0.1vw + 0.1rem), 60px) 0;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
}

.input:focus {
  outline: none;
}
