.item {
  padding: clamp(16px, calc(1vw + 0.1rem), 1000px);
  border-radius: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
  border: 1px solid #dbdbd7;
  box-shadow: 1px 3px 6.6px 0px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
  -moz-border-radius: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
  -ms-border-radius: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
  -o-border-radius: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
}
.item p {
  color: var(--dark);
  font-size: clamp(12px, calc(0.75vw + 0.1rem), 1000px);
}
.item p > a {
  color: var(--dark);
  font-size: clamp(12px, calc(0.75vw + 0.1rem), 1000px);
}

.avatar {
  display: flex;
  align-items: center;
  gap: clamp(5px, calc(0.3vw + 0.1rem), 1000px);
  margin-bottom: clamp(14px, calc(0.8vw + 0.1rem), 1000px);
  padding-bottom: clamp(14px, calc(0.8vw + 0.1rem), 1000px);
  border-bottom: solid 1px #2a2b2a;
}

.avatar img {
  width: clamp(40px, calc(2.2vw + 0.1rem), 1000px);
  height: clamp(40px, calc(2.2vw + 0.1rem), 1000px);
  border-radius: 50%;
}

.avatar_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.avatar_info p {
  font-size: clamp(12px, calc(0.7vw + 0.1rem), 1000px);
  font-weight: 700;
  color: var(--dark);
  display: flex;
  align-items: center;
  gap: clamp(5px, calc(0.3vw + 0.1rem), 1000px);
  line-height: normal;
}

.avatar_info p svg {
  width: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
  height: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
}

.avatar_info span {
  font-size: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
  font-weight: 400;
  color: var(--dark);
  line-height: normal;
}

.item:hover {
  background-color: #192734;
  cursor: pointer;
}

.item:hover p {
  color: var(--white);
}

.item:hover p > a {
  color: var(--white);
}

.item:hover .avatar {
  border-bottom: solid 1px var(--white);
}

.item:hover .avatar_info p {
  color: var(--white);
}

.item:hover .avatar_info span {
  color: var(--white);
}
