.email__title {
   width: clamp(10rem, 25rem, 100%); 
   background-color: var(--white);
}

.container__shadow {
   border: 2px solid #dbdbd7;
   border-radius: 20px;
   box-shadow: 0px 4px 4px 0px #00000040;
   padding: 2rem 2.375rem;
}

.chat__chat__aside__menu__profile {
  border-radius: 3.82px 38.82px 3.82px 3.82px;
  width: clamp(2rem, 2.466rem, 100%);
  aspect-ratio: 0.8/1;
  height: min-content;
}

.chat__chat__aside__menu__profile_reversed {
  height: min-content;
    border-radius: 38.82px 3.82px 3.82px 3.82px;
    width: clamp(2rem, 2.466rem, 100%);
    aspect-ratio: 0.8/1;
}

.overlay {
   border-radius: 99px 0px 0px 0px;
   background: #FFFFFB94;
}

.email__reply__footer {
   transition: none !important;
}