.tabs input[type="radio"] {
  outline: none;
  font-size: clamp(16px, calc(1.2vw + 0.1rem), 1000px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: clamp(3px, calc(0.1vw + 0.1rem), 1000px)
    clamp(10px, calc(0.9vw + 0.1rem), 1000px);
  height: auto;
  width: max-content;
}

.tabs input[type="radio"]:first-child {
  padding-left: 0;
}

.tabs input[type="radio"]::after {
  color: #acacac;
  transition: all 0.2s;
}

.tabs input[type="radio"]:not(:last-of-type)::before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--dark);
}

.tabs input[type="radio"]:checked::after {
  color: var(--dark);
}

.tabs input[type="radio"] + div {
  display: none;
}

.tabs input[type="radio"]:checked + div {
  display: block;
}

.card {
  border: 2px solid #dbdbd7;
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border-radius: 20px;
}

.tab {
  margin-block: 0.85vw 1vw;
}

.tab input[type="radio"] {
  outline: none;
  font-size: clamp(16px, calc(0.85vw + 0.1rem), 1000px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-block: 0;
  padding-inline: clamp(10px, calc(0.5vw + 0.1rem), 1000px);
  height: auto;
  width: max-content;
}

.tab input[type="radio"]:first-child {
  padding-left: 0;
}

.tab input[type="radio"]::after {
  color: #acacac;
  transition: all 0.2s;
}

.tab input[type="radio"]:not(:last-of-type)::before {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--dark);
}

.tab input[type="radio"]:checked::after {
  color: var(--dark);
}

.tab input[type="radio"] + div {
  display: none;
}

.tab input[type="radio"]:checked + div {
  display: block;
}

.engagement ul li {
  padding: 0.4vw 0;
}
.engagement ul li:not(:last-child) {
  border-bottom: 2px solid #acacac;
}

.tab,
.cardsTitle {
  font-size: 24px;
  font-weight: 700;
}

.tab {
  color: #acacac;
  cursor: pointer;
}
.activeTab {
  color: #2a2b2a;
}

/* Tabs */
.tabs .tab:not(:last-child) {
  border-right: 1px solid #2a2b2a;
  padding-right: 10px;
}
.tabs .tab:not(:first-child) {
  padding-left: 10px;
}

/* Define the grid container */
.dashboard {
  display: grid;
  grid-template-areas: "main-content sidebar"; /* one row */
  grid-template-columns: 4fr 0.8fr;
  grid-auto-rows: 80vh;
  gap: 1vw;
}

/* Define styles for each grid area */
.mainContent {
  grid-area: main-content;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

.sidebar {
  grid-area: sidebar;
  background-color: #2a2b2a;
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  color: white;
  padding: 14px;
  border-radius: 12px;
  height: 100%;
  padding-bottom: 50px;
  overflow: hidden;
}

.sidebar section {
  overflow-y: auto;
  height: 100%;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.sidebar section::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
