/* ===== Start Slick Slider ===== */
.op__analytics__container .slick-slide > div {
  margin: 0 1rem; /* Adjust the value as needed */
  box-sizing: border-box; /* Ensure padding/margin are included in the width calculations */
}

.op__analytics__container .custom_arrows {
  top: calc(-2.5rem + -26%) !important;
}
/* ===== End Slick Slider ===== */

/* ===== Start Accordion General Rules ===== */
input[type="radio"]:checked ~ .collapse-title svg {
  transform: rotate(180deg);
}

.collapse-title {
  /* padding-right: 1rem; */
  padding-inline-end: 1rem;
}

:where(.collapse > input[type="radio"]) {
  padding-inline-end: 1rem;
}

.collapse-content svg {
  width: 16px;
  height: 8px;
}
/* ===== Start Accordion General Rules ===== */

/* ===== Start Brand_Accounts Accordion ===== */
.accordion1 {
  border-radius: 9px;
}

.accordion1 .collapse-title > p {
  font-size: clamp(12.3px, calc(0.62vw + 0.1rem), 100px);
  font-weight: 700;
}

.accordion1 .collapse-content {
  font-size: clamp(12.3px, calc(0.62vw + 0.1rem), 100px);
  font-weight: 400;
}

.accordion1 .collapse-content > div > p:nth-child(2) {
  gap: clamp(12px, calc(0.6vw + 0.1rem), 100px);
}

/* ===== End Brand_Accounts Accordion ===== */

/* ===== Start Brand KPIs Accordion ===== */
.accordion2 {
  border-radius: 9px;
}

.accordion2 .collapse-title {
  padding-top: 0px;
  padding-bottom: 0px;
}

.accordion2 .collapse-title > p {
  font-size: clamp(12.3px, calc(0.62vw + 0.1rem), 100px);
  font-weight: 700;
}

.accordion2 .collapse-content {
  font-size: clamp(12.3px, calc(0.62vw + 0.1rem), 100px);
  font-weight: 400;
  border-radius: 9px !important;
  /* padding-top: 1rem; */
}
/* ===== End Brand KPIs Accordion ===== */

/* ===== Start Hide the default previous and next arrows ===== */
.op_analytics_brands .slick-prev:before,
.op_analytics_brands .slick-next:before {
  content: none; /* or use content: ''; */
}
/* ===== End Hide the default previous and next arrows ===== */
