/* .slick-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
} */

.email__preview .slick-dots {
  bottom: -35px;
}
.email__preview .slick-dots li {
  width: clamp(5px, 55px, 55px); /* Width of the rectangle */
  height: 5px !important;
}

/* .slick-dots li button::before {
    all: unset !important;
}  */

.email__preview .slick-dots li button:before {
  color: #000; /* Color of the dots */
  content: ""; /* Remove default content */
  width: clamp(5px, 55px, 55px); /* Width of the rectangle */
  height: 5px; /* Height of the rectangle */
  border-radius: 3px; /* Remove border radius to make it rectangular */
  background-color: #acacac; /* Background color of the dots */
  border: 1px solid var(--dark); /* Border color of the dots */
  display: inline-block;
}

.email__preview .slick-dots li.slick-active button:before {
  background-color: #2a2b2a; /* Change the color of the active dot */
}

.op__analytics__container .slick-slide > div {
  margin: 0 1rem; /* Adjust the value as needed */
  box-sizing: border-box; /* Ensure padding/margin are included in the width calculations */
}

.op__analytics__container .card * {
  transition: all 150ms;
}

.op__analytics__container .custom_arrows {
  top: -67% !important;
}

/* ===== Accordion ===== */
.collapse {
  border-radius: 9px;
}
.collapse-title {
  font-size: 14px;
}
input[type="radio"]:checked ~ .collapse-title svg {
  transform: rotate(180deg);
}
.collapse-title,
:where(.collapse > input[type="radio"]) {
  padding-inline-end: 1rem;
}
.collapse-content svg {
  width: 16px;
  height: 8px;
}
.accordion2 .collapse-title {
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.accordion2 .collapse-content {
  border-radius: 9px !important;
  padding-top: 1rem;
}

/* ===== Table ===== */
#testTable {
  width: 100%;
  border-collapse: collapse;
}
#testTable th,
#testTable td {
  padding: 10px;
  text-align: left;
}
#testTable .kpi-met {
  color: green;
  text-align: center;
}
#testTable .kpi-not-met {
  color: red;
  text-align: center;
}

/* ActivityOverView_Container */
.ActivityOverView_Container table {
  width: 100%;
  border-collapse: collapse;
}
.ActivityOverView_Container th,
.ActivityOverView_Container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.ActivityOverView_Container .view {
  width: 100px;
  height: 50px;
}

/* FollowersOverView_Container */
.FollowersOverView_Container table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}
.FollowersOverView_Container th,
.FollowersOverView_Container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.FollowersOverView_Container .percentage {
  display: flex;
  align-items: center;
}
.FollowersOverView_Container .percentage span {
  margin-left: 5px;
}
.FollowersOverView_Container .up {
  color: green;
}
.FollowersOverView_Container .down {
  color: red;
}

/* YoutubeWatchTime_Container */
.YoutubeWatchTime_Container table {
  width: 100%;
  border-collapse: collapse;
}

.YoutubeWatchTime_Container th,
.YoutubeWatchTime_Container td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.YoutubeWatchTime_Container .chart {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-right: 10px;
  background-size: cover;
  vertical-align: middle;
}

.YoutubeWatchTime_Container .up-arrow {
  color: green;
}

.YoutubeWatchTime_Container .down-arrow {
  color: red;
}
/* ===== Cards ===== */
.BrandKPIs {
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  padding: 1rem;
}

.BrandKPIs > div {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.BrandKPIs > div::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.RevenueOverView_Container,
.ActivityOverView_Container,
.FollowersOverView_Container,
.YoutubeWatchTime_Container {
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  padding: 1rem;
}
