.loading_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(8px, calc(0.7vw + 0.1rem), 800px);
}

.loading_logo h6 {
    font-size: clamp(16px, calc(1.2vw + 0.1rem), 800px);
    font-weight: 700;
    color: var(--dark);
}

.loading_logo p {
    font-size: clamp(10px, calc(1vw + 0.1rem), 800px);
    color: rgba(0, 0, 0, 0.20);
    font-weight: 500;
}

