.articleDatabase{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(18px, calc(1vw + 0.1rem), 100px);
}
.box{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
}
.tableBodyWrapper{
    overflow-y: auto;
    height: 50vh;
}
  /* Track */
  .tableBodyWrapper::-webkit-scrollbar-track {
    background: transparent; 
}
  /* Handle */
  .tableBodyWrapper::-webkit-scrollbar-thumb {
    background: #2A2B2A; 
    width: clamp(2px, calc( 0.08vw + 0.1rem), 40px);
    border-radius: 10vw ;
}
.filters h5{
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 100px);
    font-weight: 700;
}
.changeOrder{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(7px, calc(0.5vw + 0.1rem), 200px) clamp(20px, calc(0.6vw + 0.1rem), 200px);
    background: var(--white);
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    font-weight: 400;
}
.changeOrder svg{
    width: clamp(18px, calc(0.8vw + 0.1rem), 100px);
}
.tableHeader{
    border-bottom: 1px solid #2A2B2A;
}
.tableBody{
    padding: clamp(10px, calc( 0.1vw + 0.1rem), 60px) 0 !important;
}
.tableHeader li,.tableBody li{
    text-align: center;
    font-weight: 700;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 200px);
}

.tableBody{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2vh 0;
}

.tableBody li , .tableBody li div h6 ,.tableBody li a ,.tableBody li span{
    transition: 0.1s;
}

.viewsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
 .contentType{
    display: flex;
    justify-content: center;
}
.contentType ul li{
   text-align: left;
}
.contentType ul{
    list-style: inside;
}

.viewsDiv svg{
    width: 1vw;
    height: 1vh;
}
.edit button{
    text-decoration: underline;
}
.tableBody li span{
    padding: 0.1vw 0.3vw;
    border-radius: 0.1vw;
    font-weight: 500;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 200px);
}