.add_post_wrapper h6 {
  font-family: "DM Sans";
  font-size: clamp(16px, calc(1.2vw + 0.1rem), 1000px);
  margin-bottom: clamp(8px, calc(0.6vw + 0.1rem), 1000px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post_content textarea {
  width: 100%;
  font-size: clamp(10px, calc(0.8vw + 0.1rem), 1000px);
  margin-bottom: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
  border-bottom: 1px solid var(--dark);
  outline: none;
  padding: 0 0 clamp(16px, calc(1vw + 0.1rem), 1000px) 0;
  background-color: transparent;
}

.post_content a {
  margin-left: auto;
}

.post_content a svg {
  width: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
  height: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
}

.post_content span {
  font-size: clamp(10px, calc(0.8vw + 0.1rem), 1000px);
  display: block;
  text-align: right;
}

/* ===== Col (2) =====*/
/* 01- Campaign Details */
.campaignDetails label {
  display: block;
  font-size: clamp(16px, calc(0.9vw + 0.1rem), 1000px);
  font-weight: 700;
  margin-bottom: clamp(5px, calc(0.5vw + 0.1rem), 1000px);
}
