.comments_wrapper .tabs {
    margin-bottom: 2vw;
}

.comments_wrapper .tabs input[type='radio'] {
    outline: none;
    font-size: clamp(16px, calc(1vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: clamp(3px, calc(0.1vw + 0.1rem), 1000px) clamp(10px, calc(0.9vw + 0.1rem), 1000px);
    height: auto;
    width: max-content;
}

.comments_wrapper .tabs input[type='radio']:first-child {
    padding-left: 0;
}

.comments_wrapper .tabs input[type='radio']::after {
    color: #ACACAC;
    transition: all 0.2s;
}

.comments_wrapper .tabs input[type='radio']:not(:last-of-type)::before {
    content: '';
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    left: 100%;
    background: var(--dark);
}

.comments_wrapper .tabs input[type='radio']:checked::after {
    color: var(--dark);
}

.comments_wrapper h6 {
    font-family: "DM Sans";
    font-size: clamp(16px, calc(1.1vw + 0.1rem), 1000px);
    margin-bottom: clamp(14px, calc(1vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.everyLink{
    padding: 0.2vw 0.5vw;
    font-size: clamp(14px, calc( 1.1vw + 0.1rem ) , 70px) ;
    font-weight: 700;
    color: #A6A6A6;
}
.everyLink a:focus{
    color: var(--dark);
}
.everyLink:not(:last-child){
    border-right: 1px solid var(--dark);
}
.selection h5{
    font-weight: 600;
    font-size: clamp(12px, calc( 0.9vw + 0.1rem), 60px);
}
.platformBox{
    padding: 1vw 2vw ;
    border-radius: 1vw;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2) ;
    /* box-shadow: 1px 3px 6.6px 0px rgba(0, 0, 0, 0.15); */
    
}
.platformBoxHeader > a > div{
    padding: 0 ;
}

.platformBoxHeader > a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.platformBox h3{
    font-weight: 700;
    font-size: clamp(16px, calc(1.6vw + 0.1rem), 80px);
}
.platformBox h6{
    font-weight: 900;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 60px);
}
.platformBox h5{
    font-weight: 700;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 60px);
}
.platformBoxHeader{
    padding-bottom: 0.6vw;
    border-bottom: 1px solid var(--dark);
}
.platformBoxHeaderSm{
    border-bottom: 1px solid var(--dark);
}
.overlay {
    border-top-left-radius: clamp(0.5rem, calc(4.3vw + 0.1rem), 1000px);
}
.overlayBox {
    border: 2px solid #DBDBD7;
    box-shadow: 1px 7px 7.4px 2px #00000033;
    background: #FFFFFB;
    padding: 1.2vw;

}
.overlayBox .or::after {
content: "or";
left: 50%;
top: 50%;
background-color: #FFFFFB;
padding: 0.7vw;
color: black;
position: absolute;
transform: translate(-50%,-50%);
font-size: clamp(10px, calc( 0.7vw + 0.1rem), 60px);
font-weight: 700;

}
.overlayBox h6 {
    font-size: clamp(10px, calc( 0.8vw + 0.1rem), 60px);
    font-weight: 600;

}
.overlayBox label {
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 60px);
    font-weight: 700;

}
.lists h5 {
    font-size: clamp(14px, calc(0.9vw + 0.1rem), 100px);
}
.lists svg {
    width: clamp(10px, calc(0.562vw + 0.1rem), 60px);
    height: clamp(10px, calc(0.562vw + 0.1rem), 60px);
}
.lists span.dataSort {
    font-size: clamp(10px, calc(0.6vw + 0.1rem), 70px);
    font-weight: 500;

}
.table{
    border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    border: 2px solid #DBDBD7;
    background: #FFFFFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -moz-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -ms-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -o-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    overflow: hidden;
}
.table .table_header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--dark); */
}
.table .table_header::after{
    content: "";
    width: calc(100% - 2vw);
    height: 1px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.table .table_header li{
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    padding: clamp(16px, calc(1.1vw + 0.1rem), 1000px) clamp(16px, calc(1.5vw + 0.1rem), 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}
.table .table_header li svg{
    width: 1vw;
}
.table .table_body{
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.table .table_body ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(42, 43, 42, 0.29); */
}
.table .table_body ul::after{
    content: "";
    width: calc(100% - 2vw);
    height: 1px;
    background-color: rgba(42, 43, 42, 0.29);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.table .table_body ul:hover{
    background-color: var(--dark);
}
.table .table_body ul li{
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 300;
    padding: clamp(7px, calc(0.7vw + 0.1rem), 1000px) clamp(10px, calc(1.2vw + 0.1rem), 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.table .table_body ul:hover li{
    color: var(--white) ;
}
.table .table_body ul:hover li span{
    color: var(--white) ;
}

.table .table_body ul li svg {
    display: inline-block;
    margin-right: clamp(2px, calc(0.417vw + 0.1rem), 100px);
    
}
.overlayBox svg {
    width: clamp(10px, calc(0.682vw + 0.1rem), 60px);
    height: clamp(10px, calc(0.682vw + 0.1rem), 60px);
}
.overlayBox input::placeholder {
    font-size: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
}
