.scripts_wrapper , .preview_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scripts_wrapper .header , .preview_wrapper .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: clamp(10px,  calc( 0.8vw + 0.1rem ) , 1000px);
}

.scripts_wrapper .header h6{
    font-weight: 700;
    font-size: clamp(14px,  calc( 2vw + 0.1rem ) , 900px);
}

.scripts_wrapper .select_article_container , .preview_wrapper .selected_article_container{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    padding: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    height: 100%;
    overflow-y: auto;
}


.preview_wrapper .header h6{
    font-weight: 700;
    font-size: clamp(14px,  calc( 2vw + 0.1rem ) , 900px);
}

.preview_wrapper .selected_article_container h6{
    font-size: clamp(14px,  calc( 1.6vw + 0.1rem ) , 900px);
    font-weight: 700;
    text-align: center;
    margin-bottom: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px) ;
}

.preview_wrapper .selected_article_container p{
    text-align: justify;
    margin-bottom: clamp(10px,  calc( 1.4vw + 0.1rem ) , 300px);
}

.preview_wrapper .selected_article_container p:last-child{
    margin-bottom: 0;
}
/* test */
.article_with_check{
    display: flex;
    align-items: center;
    margin-bottom: clamp(10px,  calc( 0.5vw + 0.1rem ), 6000px);
}

.article_with_check:last-child{
    margin: 0;
}

.article_with_check label.article{
    padding:clamp(10px,  calc( 0.5vw + 0.1rem ), 6000px) clamp(10px,  calc( 1vw + 0.1rem ), 6000px);
    border: 1px solid var(--dark);
    border-radius: clamp(5px, calc(0.4vw + 0.1rem), 1000px);
    font-size: clamp(10px,  calc( 0.8vw + 0.1rem ), 6000px);
    width: 100%;
    max-height: 10vh;
    overflow: auto;
    transition: all 0.3s;
}
.article{
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 100px);
}

.article_with_check label.article:hover{
    background: var(--module-color);
    color: var(--white);
}

.article_with_check input{
    display: none;
}

.article_with_check:hover input{
    display: block;
}

.article_with_check input:checked+label.article{
    width: calc(100% - (clamp(10px,  calc( 1.4vw + 0.1rem ), 600px)));
}