*::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important  ;
}
*::-webkit-scrollbar-track {
  background: transparent !important;
}
*::-webkit-scrollbar-thumb {
  background: transparent !important  ;
  border-radius: 0px !important;
  cursor: none !important;
}
