@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #2a2b2a;
  --white: #fffffb;
  --orange: #f36f24;
  --lite-orange: #feede0;
}

* {
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  line-height: normal;
  transition: all 0.3s;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 20px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

body {
  background-color: #2a2b2a;
  color: #000;
}

input,
textarea {
  background-color: transparent;
}

textarea {
  resize: none;
}

img {
  width: 100%;
}
.articleRow.selected,
.assignedVideo.selected {
  background-color: #2a2b2a;
  color: var(--white);
}
.videoStatusBtn.clicked {
  color: rgba(42, 43, 42, 1);
  background-color: rgba(255, 255, 251, 1);
}

.pageHeader h3 {
  font-size: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  font-weight: 700;
}
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  visibility: hidden;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: var(--dark) !important;
}
.css-i5q14k-MuiDayCalendar-header {
  display: flex;
  gap: 0.6vw;
  justify-content: space-between;
}

.css-flbe84-MuiDayCalendar-weekContainer {
  display: flex;
  gap: 0.6vw;
  justify-content: space-between;
}
.css-i5q14k-MuiDayCalendar-header span {
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 100px);
  font-family: "DM Sans", sans-serif;
  color: #2a2b2a;
  font-weight: 500;
  width: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  height: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  font-weight: 700;
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root {
  color: #acacac;
  font-family: "DM Sans", sans-serif;
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 100px);
  font-weight: 500;
  width: clamp(16px, calc(1.5vw + 0.1rem), 80px);
  height: clamp(16px, calc(1.5vw + 0.1rem), 80px);
}
.css-1wy8uaa-MuiButtonBase-root-MuiPickersDay-root:hover {
  background-color: #dfdfdf;
}
.css-1rtg91x-MuiDateCalendar-root {
  box-shadow: 2px 2px 4px 3px #dfdfdf;
  border: 1px solid transparent;
  border-radius: clamp(10px, calc(0.5vw + 0.1rem), 60px);
  max-height: 28vh;
  overflow-y: hidden;
  width: 100%;
  padding: 0 2vw;
}
.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  overflow-y: hidden;
  max-height: 28vh;
}
.css-dplwbx-MuiPickersCalendarHeader-label {
  font-size: clamp(10px, calc(0.8vw + 0.1rem), 60px);
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
  background-color: var(--dark);
  cursor: pointer;
  width: clamp(16px, calc(1.5vw + 0.1rem), 80px);
  height: clamp(16px, calc(1.5vw + 0.1rem), 80px);
  border-radius: 0.2vw;
  color: var(--white);
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button
  svg,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button
  svg {
  width: clamp(16px, calc(1vw + 0.1rem), 80px);
  height: clamp(16px, calc(1vw + 0.1rem), 80px);
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover,
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:hover {
  background-color: var(--dark);
  color: var(--white);
}
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button:disabled {
  background-color: #d9d9d9;
}
.css-xb7uwb-MuiPickersArrowSwitcher-spacer {
  width: clamp(24px, calc(2vw + 0.1rem), 140px);
}
.pagination_iconButton__7wOJj {
  width: clamp(16px, calc(1.5vw + 0.1rem), 80px);
  height: clamp(16px, calc(1.5vw + 0.1rem), 80px);
}
.css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  width: clamp(16px, calc(1.5vw + 0.1rem), 80px);
  height: clamp(16px, calc(1.5vw + 0.1rem), 80px);
}

.pagination_iconButton__7wOJj {
  display: flex;
  justify-content: center;
  align-items: center;
}
.borderBottom:not(:last-child) {
  border-bottom: 1px solid rgba(42, 43, 42, 0.29);
}
.css-1wuw8dw-MuiBreadcrumbs-separator {
  color: #f36f24;
}

.articleRow.changeSvgBg li span svg path {
  fill: #fffffb;
}

.boards .slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.fillBtn::before {
  content: "";
  position: absolute; /* Positioning properties */
  z-index: 0;
  left: 50%;
  top: 100%;

  transform: translate(-50%, -80%);
  width: 0; /* Dimension properties */
  height: 0;
  background-color: white; /* Other styles */
  border-radius: 50%;
  transition: all 0.2s;
  transition: height 0.2s, width 0.4s;
}

.fillBtn:hover::before {
  width: 200%;
  height: 200%;
}
.fillBtn:hover {
  color: #2a2b2a;
}
.fillBtn:hover svg path {
  fill: #2a2b2a;
}

/* edit calendar in boards  */
.board-add-calendar-card .css-1rtg91x-MuiDateCalendar-root {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.board-add-calendar-card {
  box-shadow: 0.7px 2.09px 4.61px 0px #00000026;
  border: 0.7px solid #dfdfdf;
}

.analyticsChart .apexcharts-legend {
  left: 50% !important;
  gap: 3vw;
}
.analyticsChart .apexcharts-legend-marker {
  border-radius: 0 !important;
  margin-right: 0.5vw;
}
.sliderAudience .slick-slide > div {
  margin: 0 10px; /* Adjust the value as needed */
  box-sizing: border-box; /* Ensure padding/margin are included in the width calculations */
}
.brands .slick-slide > div {
  margin: 0 clamp(10px,calc(1.2vw + 0.1rem),60px); /* Adjust the value as needed */
  box-sizing: border-box; /* Ensure padding/margin are included in the width calculations */
}

.custom_arrows.slick-arrow {
  width: unset !important;
  height: unset !important;
  position: absolute !important;
  top: unset !important;
  bottom: calc(100% + 1.1vw) !important;
  transform: translate(0, 0) !important;
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
}

.custom_arrows.slick-next {
  right: 0vw;
}
.custom_arrows.slick-prev {
  left: unset !important;
  right: 2.5vw;
}

.custom_arrows.slick-arrow > svg {
  width: clamp(10px, calc(1.5vw + 0.1rem), 50px);
  height: clamp(10px, calc(1.5vw + 0.1rem), 50px);
}

.custom_arrows.slick-arrow.slick-next > svg > path,
.custom_arrows.slick-arrow.slick-prev > svg > path {
  fill: #000000;
}
.custom_arrows.slick-arrow.slick-next.slick-disabled > svg > path,
.custom_arrows.slick-arrow.slick-prev.slick-disabled > svg > path {
  fill: #d9d9d9;
}
