@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --dark: #2A2B2A;
  --white: #FFFFFB;
  --orange : #F36F24;
  --lite-orange : #FEEDE0;
}

*{
  font-family: "DM Sans", sans-serif;
  padding: 0;
  margin: 0;
  line-height: normal;
  transition: all 0.3s;
}

*::-webkit-scrollbar {
  width: 5px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--dark);
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

body{
  background-color: #2A2B2A;
  color: #000;
}

img{
  width: 100%;
}

.main-wrapper{
  height: 100vh;
  overflow: hidden;
}

.page-wrapper{
  height: 100%;
}

.articleRow.selected{
  background-color: #2A2B2A;
  color: var(--white);
}
.pageHeader h3{
  font-size: clamp(16px, calc(1.6vw + 0.1rem), 80px);
  font-weight: 700;
}