.Side_Nav_Wrapper {
  width: clamp(300px, calc(18vw + 0.1rem), 400px);
  height: 100vh;
  background: transparent;
  flex-shrink: 0; /* Prevents shrinking in flex container */
}

.Side_Nav_Wrapper.close {
  width: clamp(70px, calc(6vw + 0.1rem), 200px); /* Reduced max width */
}

.Page_Wrapper {
  width: 100%;
  height: 100vh;
  background: #fffffb;
  border-radius: clamp(0.5rem, calc(4.3vw + 0.1rem), 100px) 0 0 0;
  padding: var(--sy-20px) clamp(20px, calc(3.5vw + 0.1rem), 100px);
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1; /* Allows the wrapper to grow and fill remaining space */
  overflow: hidden; /* Prevents content overflow */
}
