.add_post_wrapper h6 {
    font-family: "DM Sans";
    font-size: clamp(16px, calc(1.2vw + 0.1rem), 1000px);
    margin-bottom: clamp(8px, calc(0.6vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.add_post_wrapper>h6 {
    font-family: "DM Sans";
    font-size: clamp(16px, calc(1.2vw + 0.1rem), 1000px);
    margin-bottom: clamp(16px, calc(1vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.post_content textarea {
    width: 100%;
    font-size: clamp(10px, calc(0.8vw + 0.1rem), 1000px);
    margin-bottom: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
    border-bottom: 1px solid var(--dark);
    outline: none;
    padding: 0 0 clamp(16px, calc(1vw + 0.1rem), 1000px) 0;
    background-color: transparent;
}

.post_content a {
    margin-left: auto;
}

.post_content a svg {
    width: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    height: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
}

.post_content span {
    font-size: clamp(10px, calc(0.8vw + 0.1rem), 1000px);
    display: block;
    text-align: right;
}

.suggestions {
    height: 100%;
    margin-bottom: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
}

.suggestions .item {
    position: relative;
    min-height: clamp(50px, calc(4.4vw + 0.1rem), 1000px);
    padding: clamp(10px, calc(0.6vw + 0.1rem), 1000px) 0 clamp(10px, calc(0.6vw + 0.1rem), 1000px) clamp(10px, calc(0.6vw + 0.1rem), 1000px);
    display: flex;
    align-items: center;
    gap: 6%;
    border: 1px solid var(--dark);
    border-radius: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
    -webkit-border-radius: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
    -moz-border-radius: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
    -ms-border-radius: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
    -o-border-radius: clamp(8px, calc(0.4vw + 0.1rem), 1000px);
}

.suggestions .item::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 1px;
    background-color: var(--dark);
    height: 60%;
    left: 87%;
}

.suggestions .item p {
    width: 84%;
    font-size: clamp(10px, calc(0.75vw + 0.1rem), 1000px);
    text-align: justify;
    max-height: 7vh;
    overflow-y: auto;
    padding-right: 0.5vw;
}

.suggestions .item a {
    margin: 0 5.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.suggestions .item svg {
    width: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
    height: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
}

.suggestions .item svg path {
    fill: var(--dark);
}


.suggestions .item:hover {
    background-color: var(--dark);
    cursor: pointer;
}

.suggestions .item:hover p {
    color: var(--white);
}

.suggestions .item:hover p::-webkit-scrollbar-track {
    background: var(--dark);
  }
  
  /* Handle */
.suggestions .item:hover p::-webkit-scrollbar-thumb {
    background: var(--white);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
  
  /* Handle on hover */
.suggestions .item:hover p::-webkit-scrollbar-thumb:hover {
    background: var(--white);
  }


.suggestions .item:hover {
    background-color: var(--dark);
    cursor: pointer;
}

.suggestions .item:hover::after {
    background-color: var(--white);
}

.suggestions .item:hover svg path {
    fill: var(--white);
}


.post_view_screens{
    margin-bottom: clamp(20px, calc(1.3vw + 0.1rem), 1000px);
}

.desctop_screen , .mobile_screen{
    display: flex;
    flex-direction: column;
}
.desctop_view{
    width: 100%;
    height: 100%;
    border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
    background: #192734;
    padding: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
}

.desctop_screen .desctop_view .avatar {
    display: flex;
    align-items: center;
    gap: clamp(5px, calc(0.3vw + 0.1rem), 1000px);
    margin-bottom: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
}

.desctop_screen .desctop_view .avatar img {
    width: clamp(40px, calc(2.2vw + 0.1rem), 1000px);
    height: clamp(40px, calc(2.2vw + 0.1rem), 1000px);
    border-radius: 50%;
}

.desctop_screen .avatar_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.desctop_screen .desctop_view .avatar_info p {
    font-size: clamp(12px, calc(0.7vw + 0.1rem), 1000px);
    font-weight: 700;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: clamp(5px, calc(0.3vw + 0.1rem), 1000px);
    line-height: normal;
}

.desctop_screen .desctop_view .avatar_info p svg{
    width: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
    height: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
}

.desctop_screen .desctop_view .avatar_info span {
    font-size: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
    font-weight: 400;
    color: var(--white);
    line-height: normal;
}

.desctop_screen .desctop_view > p{
    color: var(--white);
    font-size: clamp(12px, calc(0.7vw + 0.1rem), 1000px);
}




.mobile_view{
    width: 100%;
    height: 70%;
    border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
    background: #192734;
    padding: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
    -webkit-border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
    -moz-border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
    -ms-border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
    -o-border-radius: clamp(20px, calc(1vw + 0.1rem), 1000px);
}
.mobile_screen .mobile_view .avatar {
    display: flex;
    align-items: center;
    gap: clamp(5px, calc(0.3vw + 0.1rem), 1000px);
    margin-bottom: clamp(14px, calc(0.9vw + 0.1rem), 1000px);
}

.mobile_screen .mobile_view .avatar img {
    width: clamp(30px, calc(1.8vw + 0.1rem), 1000px);
    height: clamp(30px, calc(1.8vw + 0.1rem), 1000px);
}

.mobile_screen .avatar_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mobile_screen .mobile_view .avatar_info p {
    font-size: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
    font-weight: 700;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    line-height: normal;
}

.mobile_screen .mobile_view .avatar_info p svg{
    width: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
    height: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
}

.mobile_screen .mobile_view .avatar_info span {
    font-size: clamp(8px, calc(0.5vw + 0.1rem), 1000px);
    font-weight: 400;
    color: var(--white);
    line-height: normal;
}

.mobile_screen .mobile_view > p{
    color: var(--white);
    font-size: clamp(10px, calc(0.55vw + 0.1rem), 1000px);
}


.hashtags{
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(16px, calc(1vw + 0.1rem), 1000px);
}

.hashtags > a > div {
    font-weight: 700;
    padding: clamp(5px, calc(0.35vw + 0.1rem), 1000px)  clamp(20px, calc(1.5vw + 0.1rem), 1000px) ;
    flex-direction: row-reverse;
}

.hashtags > a svg{
    width: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
    height: clamp(10px, calc(0.6vw + 0.1rem), 1000px);
}

.hashtags + a{
    margin-left: auto;
}

.hashtags + a svg{
    width: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    height: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
}

