.YoutubeWatchTime {
  height: 100% !important;
}
.title {
  font-size: 15px;
  font-weight: 700;
}
.YoutubeWatchTimeContainer {
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  overflow: hidden;
}

.YoutubeWatchTimeBody {
  font-size: clamp(12px, calc(0.6vw + 0.1rem), 50px);
}

/* ===== Start Table Container ===== */
.tableContainer {
  overflow: hidden;
}

/* ===== Start Table ===== */
.table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
}

/* ===== Table Header ===== */
.table .table_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.table .table_header li {
  font-weight: 700;
  display: flex;
  align-items: center;
}

.table .table_header li.center {
  justify-content: center;
}

/* ===== Table Body ===== */
.table .table_body {
  display: flex;
  flex-direction: column;
  height: 20.75vh;
  overflow-y: auto;
  /* padding: 15px; */
}

.table .table_body::-webkit-scrollbar {
  width: 2px;
}

.table .table_body ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.2s; */
  padding: 15px;
  border-bottom: 1px solid #dfdfdf;
}

/* .table .table_body ul:first-child {
  padding-top: 0;
} */

.table .table_body ul:last-child {
  /* padding-bottom: 0; */
  border-bottom: none;
}

.table .table_body ul li {
  font-weight: 400;
  display: flex;
  align-items: center;
}

.table .table_body li.center {
  justify-content: center;
  gap: var(--20px);
}

.chart {
  width: 60%;
  height: var(--sy-40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.table .dailyAverage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.dailyAverage span:first-child {
  font-weight: 600;
}
