.database_table {
    border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    border: 2px solid #dbdbd7;
    background: #fffffb;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -moz-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -ms-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    -o-border-radius: clamp(16px, calc(1vw + 0.1rem), 1000px);
    overflow: hidden;
  }
  
  .database_table .table_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--dark); */
  }
  
  .database_table .table_header::after {
    content: "";
    width: calc(100% - 2vw);
    height: 1px;
    background-color: var(--dark);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .database_table .table_header li {
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    padding: clamp(16px, calc(1.1vw + 0.1rem), 1000px)
      clamp(16px, calc(1.5vw + 0.1rem), 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
  }
  
  .database_table .table_header li svg {
    width: 1vw;
  }
  
  .database_table .table_body {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  
  .database_table .table_body ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(42, 43, 42, 0.29); */
  }
  
  .database_table .table_body ul::after {
    content: "";
    width: calc(100% - 2vw);
    height: 1px;
    background-color: rgba(42, 43, 42, 0.29);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  
  .database_table .table_body ul:last-child:after {
    content: none;
  }
  
  .database_table .table_body ul:hover {
    background-color: var(--dark);
  }
  
  .database_table .table_body ul li {
    font-size: clamp(12px, calc(0.8vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 300;
    padding: clamp(7px, calc(0.7vw + 0.1rem), 1000px)
      clamp(10px, calc(1.2vw + 0.1rem), 1000px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .database_table .table_body ul li:first-child {
    font-weight: 500;
  }
  
  .database_table .table_body ul:hover li {
    color: var(--white);
  }
  .database_table .table_body ul:hover li svg path {
    fill: var(--white);
  }
  
  .database_table .table_body ul li > span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4vw;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -ms-transition: all 0s;
    -o-transition: all 0s;
  }
  
  .database_table .table_body ul li > span {
    font-size: clamp(10px, calc(0.65vw + 0.1rem), 1000px);
    padding: clamp(3px, calc(0.2vw + 0.1rem), 1000px)
      clamp(10px, calc(0.4vw + 0.1rem), 1000px);
    border-radius: clamp(3px, calc(0.2vw + 0.1rem), 1000px);
    -webkit-border-radius: clamp(3px, calc(0.2vw + 0.1rem), 1000px);
    -moz-border-radius: clamp(3px, calc(0.2vw + 0.1rem), 1000px);
    -ms-border-radius: clamp(3px, calc(0.2vw + 0.1rem), 1000px);
    -o-border-radius: clamp(3px, calc(0.2vw + 0.1rem), 1000px);
  }
  
  .database_table .table_body ul li > a {
    width: 70%;
    margin: auto;
  }
  
  .database_table .table_body ul li > a > div {
    padding: 0.5vw 1vw;
  }
  
  .database_table .table_body ul:hover li > a {
    background-color: var(--white);
    transition: all 0.3s;
  }
  
  .database_table .table_body ul:hover li > a::before {
    background-color: var(--dark);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  
  .database_table .table_body ul:hover li > a > div {
    color: var(--dark);
    transition: all 0.3s;
  }
  
  .database_table .table_body ul:hover li > a:hover {
    background-color: var(--dark);
    border-color: var(--white);
  }
  
  .database_table .table_body ul:hover li > a:hover::before {
    background-color: var(--dark);
  }
  
  .database_table .table_body ul:hover li > a > div {
    color: var(--dark);
  }
  .database_table .table_body ul:hover li > a:hover > div {
    color: var(--white);
  }
  