.chat__chat__aside {
  width: clamp(10rem, 30%, 100%);
}

.chat__chat__aside__menu {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 2px solid #dbdbd7;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.chat__chat__aside__menu__item:not(:is(:first-child)) > div {
  border-top: 1px solid #dbdbd7;
}

.chat__chat__aside__menu__item > div:not(:first-child) {
}

.chat__chat__aside__menu__profile {
  border-radius: 38.82px 3.82px 3.82px 3.82px;
  width: clamp(2rem, 2.466rem, 100%);
  aspect-ratio: 0.8/1;
  height: min-content;
}
.chat__chat__aside__menu__item > div {
  transition: all 0.3s;
}
.chat__chat__aside__create_group .chat__chat__aside__menu__item > div {
  padding-left: var(--50px);
}
.chat__chat__aside__menu__item input {
  width: var(--20px) !important;
  height: var(--20px) !important;
  min-width: 10px;
  min-height: 10px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.chat__chat__aside__create_group .chat__chat__aside__menu__item input {
  left: var(--15px);
  opacity: 1;
  visibility: visible;
  /* remove transition delay on toggle */
  /* transition: all 0s ease-in-out 0s; */
}

.chat__chat__aside__menu__profile_reversed {
  border-radius: 3.82px 38.82px 3.82px 3.82px;
  width: clamp(2rem, 2.466rem, 100%);
  aspect-ratio: 0.8/1;
  height: min-content;
}

.chat__chat__aside__menu ul {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat__chat__aside__menu ul::-webkit-scrollbar {
  display: none;
}

.chat__chat__aside__menu__item {
  /* transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s; */
}

.chat__chat__aside__menu__item:hover {
  color: var(--white);
  background-color: var(--dark);
}

.chat__box__container {
  width: clamp(10rem, 70%, 100%);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 20px;
  border: 2px solid #dbdbd7;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.chat__box__header {
  padding: 29px 33px;
  border-bottom: 1px solid var(--dark);
}

.chat__box__message__container {
  border: 1px solid #dbdbd7;
  box-shadow: 0px 4px 4px 0px #00000040;
}
