.dropdown {
  width: clamp(7rem, 100%, 100%);
}

.dropdown__items__container {
  width: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown__item:not(:last-child) {
  position: relative;
}
.dropdown__item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  bottom: 0;
  border-bottom: 1px solid var(--dark);
}
