.view_template_wrapper h5{
    font-family: "DM Sans";
    font-size: clamp(16px, calc(1.2vw + 0.1rem), 1000px);
    margin-bottom: clamp(16px, calc(1vw + 0.1rem), 1000px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.view_template_wrapper .card {
    padding: clamp(16px, calc(1vw + 0.1rem), 1000px);
    border: 2px solid #D9D9D9;
    border-radius: clamp(10px, calc(0.8vw + 0.1rem), 1000px);
    box-shadow: 1px 3px 6.6px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    height: max-content;
}

.view_template_wrapper .card .card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark);
    padding: 0 0.5vw 1vw;
    margin-bottom: 0.5vw;
}

.view_template_wrapper .card .card_header h6 {
    font-size: clamp(16px, calc(0.8vw + 0.1rem), 1000px);
    font-weight: 700;
}

.view_template_wrapper .card .card_body{
    max-height: 20vh;
    overflow-y: auto;
    padding: 0.2vw;
}

.view_template_wrapper .card .card_body p , .view_template_wrapper .card .card_body ul li {
    font-size: clamp(16px, calc(0.7vw + 0.1rem), 1000px);
    text-align: justify;
    padding-right: 1vw;
}

.view_template_wrapper .card .card_body p:not(:last-child){
    margin-bottom: 0.5vw;
}

.view_template_wrapper .card .card_body ul li {
    padding-left: 1vw;
    position: relative;
}

.view_template_wrapper .card .card_body ul li::before {
    content: '';
    width: clamp(5px, calc(0.25vw + 0.1rem), 1000px);
    height: clamp(5px, calc(0.25vw + 0.1rem), 1000px);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background-color: var(--dark);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.view_template_wrapper .card .card_actions{
    display: flex;
    justify-content: flex-end;
    gap: 0.5vw;
    margin-top: 1.5vw;
    display: none;
}

.view_template_wrapper .card .card_actions > a > div{
    padding: 0.4vw;
    font-size: clamp(12px, calc(0.6vw + 0.1rem), 1000px);
    width: clamp(100px, calc(6vw + 0.1rem), 1000px);
}

.view_template_wrapper .card.disabled{
    position: relative;
}

.view_template_wrapper .card.disabled::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #ffffff93;
}

.view_template_wrapper .card.editable .card_actions{
    display: flex;
}


.view_template_wrapper .card.editable .card_body{
    max-height: unset;
    overflow-y: unset;
}