.topic_collapse {
    margin-bottom: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
    position: relative;
}

.topic_collapse:last-child {
    margin-bottom: 0;
}

.topic_collapse .collapse_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    border: 1px solid var(--dark);
    /* padding: clamp(8px, calc(0.5vw + 0.1rem), 1000px) clamp(10px, calc(1.4vw + 0.1rem), 600px); */
    padding: clamp(8px, calc(0.5vw + 0.1rem), 1000px) clamp(10px, calc(3.4vw + 0.1rem), 600px) clamp(8px, calc(0.5vw + 0.1rem), 1000px) clamp(10px, calc(1vw + 0.1rem), 600px);
    border-radius: clamp(0.625rem, calc(0.5vw + 0.1rem), 1000px);
    cursor: pointer;
    transition: none;
}

.topic_collapse .collapse_header h6 {
    font-size: clamp(10px, calc(1vw + 0.1rem), 1000px);
    font-weight: 700;
    color: var(--dark);
    margin-bottom: clamp(4px, calc(0.2vw + 0.1rem), 100px);
}

.topic_collapse .collapse_header p {
    font-size: clamp(10px, calc(0.7vw + 0.1rem), 1000px);
    font-weight: 300;
    color: var(--dark);
}

.topic_collapse label.toggle_fav {
    position: absolute;
    right: clamp(10px, calc(1.4vw + 0.1rem), 600px);
    top: clamp(10px, calc(1.1vw + 0.1rem), 1000px);
}

.topic_collapse label.toggle_fav input {
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(10px, calc(1.5vw + 0.1rem), 200px);
    height: clamp(10px, calc(1.5vw + 0.1rem), 200px);
    z-index: 2;
    opacity: 0;
}

.topic_collapse label.toggle_fav svg {
    width: clamp(10px, calc(1.5vw + 0.1rem), 600px);
    height: clamp(10px, calc(1.5vw + 0.1rem), 600px);
}

.topic_collapse label.toggle_fav svg path {
    fill: var(--white);
}

.topic_collapse label.toggle_fav input:checked+svg path {
    fill: var(--orange);
}

.topic_collapse .collapse_body {
    border: 1px solid var(--dark);
    border-radius: 0 0 clamp(0.625rem, calc(0.5vw + 0.1rem), 1000px) clamp(0.625rem, calc(0.5vw + 0.1rem), 1000px);
    transform: translateY(clamp(-0.625rem, calc(-0.5vw + -0.1rem), 1000px));
    padding: clamp(10px, calc(1.9vw + 0.1rem), 600px) clamp(10px, calc(1.4vw + 0.1rem), 600px) clamp(10px, calc(1.4vw + 0.1rem), 600px);
    display: none;
}
.replyInput:focus{
    border: transparent !important;
    outline: none;
}
.replyInput::placeholder {
    color: #000000;
    font-size: 16px;
    font-weight: 300;

}
.topic_collapse.open .collapse_body {
    display: block;
}

.topic_collapse.open .collapse_header {
    background: var(--dark);
}

.topic_collapse.open .collapse_header h6 {
    color: var(--white);
}

.topic_collapse.open .collapse_header p {
    color: var(--white);
}
.separator{
    padding-bottom: clamp(4px, calc(0.4vw + 0.1rem), 100px); 
    margin-bottom: clamp(4px, calc(0.4vw + 0.1rem), 100px);
    border-bottom: 1px solid black;
}
.onlineStatus svg circle {
    fill: #5FA85B;
}
.offlineStatus svg circle {
    fill: #E9313E;
}
.awayStatus svg circle {
    fill: #E1C655;
}



.topic_collapse .collapse_header:hover {
    box-shadow: 0px 0px 0px 1px var(--dark);

}


.topic_collapse.open .collapse_header:hover {
    border: 1px solid var(--dark) 
}