.thumbnailCanvas {
  display: flex;
  justify-content: space-between;
  gap: var(--5px);
  margin: 0;
}

.thumbnailCanvas .canvas-container {
  margin: 0;
}

.thumbnailCanvas_actionsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: var(--sy-20px); */
  /* min-width: 300px; */
  flex-grow: 1;
}

.thumbnailCanvas_actionsBar::-webkit-scrollbar {
  width: 0;
  display: none;
  background: transparent; /* WebKit-based browsers */
}

.thumbnailCanvas_actionsBar button,
#downloadBtn {
  padding: var(--6px);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#downloadBtn {
  background-color: #4caf50;
}

#downloadBtn:hover {
  background-color: #45a049;
}
