@font-face {
  font-family: "Hellix-Black";
  src: url("/fonts/Hellix-Black.woff2") format("woff2");
}

.thumbnailCanvas {
  display: flex;
  justify-content: space-between;
  gap: var(--25px);
  margin: 0;
}

.thumbnailCanvas .canvas-container {
  /* margin: 20px 0; */
  /* border: 2px solid #333; */
}

.thumbnailCanvas_actionsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sy-25px);
  min-width: 300px;
  /* flex-grow: 1; */
}

.thumbnailCanvas_actionsBar button,
#downloadBtn {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#downloadBtn {
  background-color: #4caf50;
}

#downloadBtn:hover {
  background-color: #45a049;
}

.thumbnailCanvas_actionsBar_uploadImg {
  gap: clamp(12px, calc(0.9vw + 0.1rem), 1400px);
}
.thumbnailCanvas_actionsBar_uploadImg input {
  padding: var(--sy-5px) var(--5px);
  font-size: clamp(12px, calc(0.9vw + 0.1rem), 1400px);
  border-radius: 0.4rem;
  border: 1px solid var(--dark);
  outline: none;
  width: 100%;
  background: var(--white);
}
