@font-face {
  font-family: "Acumin Pro";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro"), url("/fonts/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Italic"),
    url("/fonts/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold"), url("/fonts/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: "Acumin Pro Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Acumin Pro Bold Italic"),
    url("/fonts/Acumin-BdItPro.woff") format("woff");
}

@font-face {
  font-family: "Hellix-Black";
  src: url("/fonts/Hellix-Black.woff2") format("woff2");
}

.thumbnailCanvas {
  display: flex;
  justify-content: space-between;
  gap: var(--5px);
  margin: 0;
}

.thumbnailCanvas .canvas-container {
  margin: 0;
}

.thumbnailCanvas_actionsBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: var(--sy-20px); */
  /* min-width: 300px; */
  flex-grow: 1;
}

.thumbnailCanvas_actionsBar::-webkit-scrollbar {
  width: 0;
  display: none;
  background: transparent; /* WebKit-based browsers */
}

.thumbnailCanvas_actionsBar button,
#downloadBtn {
  padding: var(--6px);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

#downloadBtn {
  background-color: #4caf50;
}

#downloadBtn:hover {
  background-color: #45a049;
}