.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: clamp(56px, calc(22vw + 0.1rem), 800px);
  height: fit-content;
  background-color: var(--white);
  border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  border: 1px solid #dbdbd7;
  box-shadow: 1px 7px 7.4px 2px rgba(0, 0, 0, 0.2);
  padding: clamp(10px, calc(1.5vw + 0.1rem), 100px);
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.modal {
  background-color: rgba(255, 255, 251, 0.58);
}
.modalBox h3 {
  font-size: clamp(14px, calc(1.1vw + 0.1rem), 70px);
  font-weight: 700;
}
.modalBox h5 {
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  font-weight: 600;
}
.addToListSec svg {
  width: clamp(12px, calc(0.9vw + 0.1rem), 70px);
  height: clamp(12px, calc(0.9vw + 0.1rem), 70px);
}
.addToListSec {
  padding-bottom: clamp(10px, calc(0.5vw + 0.1rem), 60px);
  border-bottom: 1px solid var(--dark);
}
.inputWrapper {
  position: relative;
}
.inputWrapper input {
  width: 100%;
}
.inputWrapper svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: clamp(14px, calc(1.1vw + 0.1rem), 70px);
  height: clamp(10px, calc(0.7vw + 0.1rem), 60px);
}
.customInput {
  padding: clamp(5px, calc(0.1vw + 0.1rem), 60px) 0;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
}

.customInput:focus {
  outline: none;
}
.linkValidation span {
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  font-weight: 400;
}
.removeSec {
  padding-bottom: clamp(5px, calc(0.8vw + 0.1rem), 60px);
  border-bottom: 1px solid var(--dark);
  /* min-height: 15vh;
  max-height: 25vh; */
  /* overflow-y: auto; */
}
.removeSec h4 {
  text-decoration: underline;
  font-size: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  font-weight: 700;
  padding-bottom: 0.8vw;
}
/* 01- Campaign Details */
.campaignDetails label {
  display: block;
  font-size: clamp(16px, calc(0.9vw + 0.1rem), 1000px);
  font-weight: 700;
  margin-bottom: clamp(5px, calc(0.5vw + 0.1rem), 1000px);
}
