/* 1.2 Card */
.card {
  border: 2px solid #dbdbd7;
  border-radius: 20px;
  box-shadow: 1px 3px 6.6px 0px #00000026;
  padding: 32px;
  display: flex;
  flex-direction: column;
  height: 60vh;
  max-height: 60vh;
}

.cardItem {
  border: 1px solid #dbdbd7;
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border-radius: 10px;
  padding: 22px;
}

.cardHr {
  border: none;
  height: 1px;
  background-color: #2a2b2a !important;
  margin: var(--sy-20px) 0 var(--sy-20px);
}

.cardBody {
  overflow-y: auto;
  flex-grow: 1; /* Allow the card body to grow and fill available space */
}

.cardBody::-webkit-scrollbar {
  width: 0;
  background: transparent; /* WebKit-based browsers */
}

.cardBody .cardItem:not(:first-child) {
  margin-top: var(--sy-20px);
}

.cardBody .cardItem {
  font-size: 16px;
  font-weight: 900;
}

.cardBody .cardItem:last-child {
  margin-bottom: var(--sy-20px);
}

.cardTitle {
  font-size: var(--24px);
  font-weight: 700;
}
