@media print {
  body {
    margin: 0 !important;
  }
}

.ck-powered-by-balloon {
  display: none !important;
}

.main-container {
  --ckeditor5-preview-height: 700px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-height: 73vh;
}

.main-container h4 {
  font-size: var(--20px);
  font-weight: 700;
}

.main-container p {
  margin-top: var(--sy-10px);
  margin-bottom: var(--sy-10px);
}

.main-container span.custom-spacing {
  display: block;
  height: 10px;
  margin-top: var(--sy-10px);
  margin-bottom: var(--sy-10px);
}

.ck-content {
  line-height: 1.6;
  word-break: break-word;
}

.editor-container__editor-wrapper {
  display: flex;
  width: fit-content;
  max-height: 60vh;
  overflow-y: auto;
}

.editor-container_document-editor {
  border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
  display: flex;
  position: relative;
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
  flex-grow: 1;
  width: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.editor-container_document-editor
  .editor-container__menu-bar
  > .ck.ck-menu-bar {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
  /* max-height: var(--ckeditor5-preview-height); */
  max-height: none;
  /* min-height: var(--ckeditor5-preview-height); */
  /* overflow-y: scroll; */
  background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
  /* margin-top: 28px; */
  margin-bottom: 28px;
  height: 100%;
  min-height: 60vh;
  max-height: 60vh;
}

.editor-container_document-editor
  .editor-container__editor
  .ck.ck-editor__editable {
  box-sizing: border-box;
  min-width: calc(210mm + 2px);
  max-width: calc(210mm + 2px);
  /* min-height: 297mm; */
  /* height: fit-content; */
  padding: var(--30px) var(--35px);
  border: 1px hsl(0, 0%, 82.7%) solid;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
  flex: 1 1 auto;
  margin-left: 72px;
  margin-right: 72px;
}
/* =========================================== */
.genuisWorking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, calc(1.2vw + 0.1rem), 60px);
  margin: 0 auto;
}
.allCheckers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
