.scripts_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scripts_wrapper .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: clamp(10px,  calc( 0.8vw + 0.1rem ) , 1000px);
}

.scripts_wrapper .header h6{
    font-weight: 700;
    font-size: clamp(14px,  calc( 1.5vw + 0.1rem ) , 900px);
}

.scripts_wrapper .errors_container{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    padding: clamp(10px,  calc( 1.4vw + 0.1rem ) , 1000px);
    height: 100%;
    overflow-y: auto;
}

.genuisWorking{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(10px, calc(1.2vw + 0.1rem), 60px);
}
.allCheckers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

