/* ActivityOverView_Container */
.ActivityOverviewContainer {
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  padding: 1rem;
}

.ActivityOverviewContainer table {
  width: 100%;
  border-collapse: collapse;
}
.ActivityOverviewContainer th,
.ActivityOverviewContainer td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.ActivityOverviewContainer .view {
  width: 100px;
  height: 50px;
}
