.ActivityOverview {
  height: 100% !important;
}
.ActivityOverviewTitle{
  font-size: 15px;
  font-weight: 700;
}
.ActivityOverviewContainer {
  box-shadow: 0.88px 2.64px 5.8px 0px #00000026;
  border: 0.88px solid #dfdfdf;
  border-radius: 9px;
  overflow: hidden;
  /* padding: 1rem; */
}

.ActivityBody{
  height: 20vh;
  overflow-y: auto;
  font-size: clamp(12px, calc(0.6vw + 0.1rem), 50px);
}

.ActivityBody::-webkit-scrollbar {
  width: 2px;
}

.ActivityBody table {
  width: 100%;
  border-collapse: collapse;
}

.ActivityBody th,
.ActivityBody td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.ActivityBody thead th:last-child {
  text-align: center;
}

.ActivityBody .view {
  width: 100px;
  height: 50px;
}
