.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: clamp(56px, calc(22vw + 0.1rem), 800px);
  height: fit-content;
  background-color: var(--white);
  border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
  border: 1px solid #dbdbd7;
  box-shadow: 1px 7px 7.4px 2px rgba(0, 0, 0, 0.2);
  padding: clamp(10px, calc(1.5vw + 0.1rem), 100px);
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.modal {
  background-color: rgba(255, 255, 251, 0.58);
}
.modalBox h3,
.modalBox label {
  font-size: var(--20px);
  font-weight: 700;
}
.modalBox h2 {
  font-size: var(--24px);
  font-weight: 700;
}
.uploadReceipt svg {
  width: clamp(12px, calc(0.9vw + 0.1rem), 70px);
  height: clamp(12px, calc(0.9vw + 0.1rem), 70px);
}
.uploadReceipt {
  padding-bottom: clamp(10px, calc(0.5vw + 0.1rem), 60px);
  border-bottom: 1px solid var(--dark);
}
.input {
  padding: clamp(5px, calc(0.1vw + 0.1rem), 60px) 0;
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
}

.input:focus {
  outline: none;
}
