.postInReddit{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(18px, calc(1vw + 0.1rem), 100px);
}
.box{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
 
}
.tableContent{
    overflow-y: auto;
    height: 60vh;
}
  /* Track */
.tableContent::-webkit-scrollbar-track {
    background: transparent; 
}
  /* Handle */
.tableContent::-webkit-scrollbar-thumb {
    background: #2A2B2A; 
    width: clamp(2px, calc( 0.08vw + 0.1rem), 40px);
    border-radius: 10vw ;
}
.redditPage h5{
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 100px);
    font-weight: 700;
}
.changeOrder{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(4px, calc(0.2vw + 0.1rem), 200px) clamp(20px, calc(0.6vw + 0.1rem), 200px);
    background: var(--white);
    border: 1px solid #000000;
    border-radius: clamp(5px, calc(0.2vw + 0.1rem), 1000px);
    color: #000;
    font-size: clamp(0.8rem, calc(0.9vw + 0.1rem), 1000px);
    font-weight: 400;
}
.changeOrder svg{
    width: clamp(18px, calc(0.8vw + 0.1rem), 100px);
}
.tableHeader{
    border-bottom: 1px solid #2A2B2A;
    padding: 2vh 0;
}
.tableHeader li{
    text-align: center;
    font-weight: 700;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 200px);
}
.tableBody li{
    font-weight: 300;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 200px);
    text-align: center;
}
.tableBody{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(10px, calc( 0.7vw + 0.1rem), 60px) 0 !important;

}
.tableBody li ,.tableBody li span{
    transition: 0.1s;
}
.tableBody li > input, .tableHeader li > input{
    margin: 0;
    
}

.tableBody li span{
    padding: 0.1vw 0.3vw;
    border-radius: 0.1vw;
    font-weight: 500;
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 200px);
}
.backArrow{
    width: clamp(10px, calc( 0.5vw + 0.1rem), 60px);
    height: clamp(10px, calc( 1vw + 0.1rem), 60px);
}
.redditFace{
    width:  clamp(14px, calc( 1.2vw + 0.1rem ) , 70px);
    height:  clamp(14px, calc( 1.2vw + 0.1rem ) , 70px);
}