.videoPreview h5{
    font-weight: 400;
    font-size: clamp(10px, calc(0.9vw + 0.1rem), 600px);
}
.videoPreview h4 , .access h4{
    font-weight: 700;
    font-size: clamp(14px, calc( 1.1vw + 0.1rem ) , 700px);
}
.videoHolder{
    border: 1px solid var(--dark);
    border-radius: 1vw;
    height: 45vh;
    overflow: hidden;
}
.box{
    border: 1px solid transparent;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(17, 17, 17, 0.425) inset;
    padding:clamp(14px, calc( 0.9vw + 0.1rem ) , 700px)  clamp(14px, calc( 1.1vw + 0.1rem ) , 700px) ;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.box h5{
    font-weight: 700;
    font-size:  clamp(10px, calc( 0.7vw + 0.1rem), 60px);
}
.box p{
  font-size: clamp(10px,calc(.7vw + .1rem),60px);
}
.box > a {
  font-size: clamp(10px, calc( 0.6vw + 0.1rem), 100px);
}
.box > a > div{
  padding: clamp(6px, calc( 0.3vw + 0.1rem), 60px) clamp(24px, calc(3vw + 0.1rem),140px);
}
.borderRight{
    padding-right: 2vw;
    padding-bottom: 2vw;
    border-right: 2px solid #9c9c9a;
}
