.full-calender {
    position: relative;
}

.full-calender .filters {
    position: absolute;
    top: calc(1.5vw + clamp(2rem, calc(3vw + 0.1rem), 500px));
    width: 100%;
}

.full-calender .filters > div > div:first-child{
    padding: clamp(5px, calc(0.25vw + 0.1rem), 200px) clamp(20px, calc(1.2vw + 0.1rem), 200px);
    font-size: clamp(0.8rem, calc(0.7vw + 0.1rem), 1000px);
}



.full-calender .filters > a > div{
    padding: clamp(5px, calc(0.25vw + 0.1rem), 200px) clamp(20px, calc(3vw + 0.1rem), 200px);
    font-size: clamp(0.8rem, calc(0.7vw + 0.1rem), 1000px);
}

.full-calender .fc {
    gap: clamp(4rem, calc(3.6vw + 0.1rem), 500px);
}

.full-calender .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

.full-calender .fc table.fc-scrollgrid-liquid {
    border: 1px solid var(--dark);
    border-radius: 40px;
    overflow: hidden;
}

.full-calender .fc .fc-scrollgrid-section>* {
    border-left-width: 1px;
}

.full-calender table.fc-col-header,
.full-calender .fc .fc-daygrid-body,
.full-calender .fc-scrollgrid-sync-table {
    width: 100% !important;
}

.full-calender .fc table.fc-col-header .fc-col-header-cell {
    border-bottom: 0;
    padding: clamp(8px, calc(1vw + 0.1rem), 200px) clamp(8px, calc(0.8vw + 0.1rem), 200px) 0
}

.full-calender .fc-toolbar-chunk {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.full-calender .fc .fc-toolbar-title {
    margin: 0px;
    font-size: clamp(16px, calc(1.6vw + 0.1rem), 600px);
    font-style: normal;
    font-weight: 700;
}

.full-calender .fc-button-group {
    display: flex;
    gap: clamp(20px, calc(1vw + 0.1rem), 200px);
}

.full-calender .fc .fc-scroller {
    overflow: auto !important;
}

.full-calender .fc .fc-scroller::-webkit-scrollbar {
    width: 0px;
}

.full-calender .fc-direction-ltr .fc-button-group>.fc-button {
    border-radius: clamp(4px, calc(0.2vw + 0.1rem), 200px);
    width: clamp(20px, calc(1.4vw + 0.1rem), 500px);
    height: clamp(20px, calc(1.4vw + 0.1rem), 500px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-calender .fc-direction-ltr .fc-button-group>.fc-button>.fc-icon {
    font-size: clamp(16px, calc(1.1vw + 0.1rem), 500px);
}

.full-calender .fc .fc-button-group>.fc-button,
.full-calender .fc .fc-button-group>.fc-button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.full-calender .fc-button-group .fc-prev-button {
    background-color: #DFDFDF;
}

.full-calender .fc-button-group .fc-next-button {
    background-color: var(--dark);
}

.full-calender .fc-today-button {
    position: relative;
    color: var(--white);
    background-color: var(--dark);
    border-radius: clamp(6px, calc(0.3vw + 0.1rem), 200px);
    padding: clamp(2px, calc(0.1vw + 0.1rem), 200px) clamp(12px, calc(1.2vw + 0.1rem), 500px);
    height: clamp(15px, calc(1.6vw + 0.1rem), 500px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-calender .fc-today-button::before {
    content: 'Today';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.full-calender .fc-today-button:hover::before{
    opacity: 0;
}

.full-calender .fc-today-button:disabled {
    color: var(--white);
    background-color: var(--dark);
    opacity: 1;
}

.full-calender .fc .fc-daygrid-day.fc-day-today {
    background-color: var(--white);
}

.full-calender .fc .fc-daygrid-day-number {
    border-radius: 50%;
    padding: clamp(8px, calc(0.3vw + 0.1rem), 500px);
    font-weight: 400;
    font-size: clamp(10px, calc(0.5vw + 0.1rem), 500px);
    width: clamp(10px, calc(1.3vw + 0.1rem), 500px);
    height: clamp(10px, calc(1.3vw + 0.1rem), 500px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A6A6A6;
    font-weight: 600;
}

.full-calender .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: var(--white);
    background: var(--dark);
    font-weight: 600;
}

.full-calender .fc-daygrid-day-top {
    position: absolute;
    bottom: clamp(8px, calc(0.5vw + 0.1rem), 500px);
    right: clamp(8px, calc(0.5vw + 0.1rem), 500px);
}

.full-calender .fc .fc-daygrid-day-frame {
    min-height: 100%;
    padding: clamp(7px, calc(0.5vw + 0.1rem), 500px);
}

.full-calender .fc .fc-event.fc-event-start.fc-event-end.fc-event-past.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    width: fit-content;
    padding: 0rem 0.8rem;
    font-size: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    font-weight: 600;
}

.full-calender .fc .fc-event.fc-event-start.fc-bg-event,
.full-calender .fc .fc-event.fc-event-end.fc-bg-event,
.full-calender .fc .fc-event.fc-event-start.fc-daygrid-event.fc-daygrid-block-event.fc-h-event,
.full-calender .fc .fc-event.fc-event-end.fc-daygrid-event.fc-daygrid-block-event.fc-h-event {
    width: 100%;
    padding: 0rem 0.4rem;
    font-size: clamp(8px, calc(0.65vw + 0.1rem), 500px);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.1vw;
}

.full-calender .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: clamp(3em, calc(3vw + 0.1rem), 500px);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0vw;
}

.full-calender .fc-theme-standard .fc-popover {
    padding: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 13px;
}

.full-calender .fc-theme-standard .fc-popover-header {
    background: transparent;
    justify-content: center;
    padding-bottom: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    border-bottom: 1px solid var(--dark);
}

.full-calender .fc .fc-popover-close {
    position: absolute;
    top: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    right: clamp(8px, calc(0.6vw + 0.1rem), 500px);
    cursor: pointer;
    font-size: clamp(10px, calc(0.9vw + 0.1rem), 500px);
    opacity: 0.65;
}

.full-calender  .fc .fc-popover-title{
    font-weight: 600;
}

.full-calender .event-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: clamp(24rem, calc(22vw + 0.1rem), 2000px);
    z-index: 99999;
    background-color: var(--dark);
    border-radius: clamp(10px, calc(0.3vw + 0.1rem), 500px);
    padding: clamp(10px, calc(1.2vw + 0.1rem), 500px);
    box-shadow: -1px 2px 8.7px 0px rgba(0, 0, 0, 0.25);
}

.full-calender .event-content img{
    margin-bottom: clamp(10px, calc(1vw + 0.1rem), 500px);
}

.full-calender .event-content p{
    font-size: clamp(10px, calc(0.75vw + 0.1rem), 500px);
    font-style: normal;
    font-weight: 400;
    color: var(--white);
    text-align: justify;
}

.full-calender .event-content .event-content-header{
    margin-bottom: clamp(10px, calc(1vw + 0.1rem), 500px);
}

.full-calender .event-content .event-content-header h3{
    font-size: clamp(10px, calc(1.2vw + 0.1rem), 500px);
    font-style: normal;
    font-weight: 700;
    color: var(--white);
    margin-bottom: clamp(5px, calc(0.2vw + 0.1rem), 500px);
}

.full-calender .event-content .event-content-header p{
    font-size: clamp(10px, calc(0.8vw + 0.1rem), 500px);
    font-style: normal;
    font-weight: 500;
    color: #A6A6A6;
    display: flex;
    align-items: center;
    gap:  clamp(10px, calc(0.8vw + 0.1rem), 500px);
}

.full-calender .event-content .event-content-header p > span{
    padding: clamp(2px, calc(0.1vw + 0.1rem), 500px) clamp(5px, calc(0.3vw + 0.1rem), 500px) ;
    border-radius: clamp(3px, calc(0.1vw + 0.1rem), 500px);
    color: var(--white);
}

.full-calender .event-content .close-event-content {
    position: absolute;
    top: clamp(12px, calc(1vw + 0.1rem), 500px);
    right: clamp(12px, calc(1vw + 0.1rem), 500px);
    cursor: pointer;
}
.full-calender .event-content .close-event-content svg path{
    fill: #A6A6A6;
}

.event-content-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* backdrop-filter: blur(2px); */
    z-index: 99998;
}