.card {
  border: 1px solid #dfdfdf;
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border-radius: 20px;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #2a2b2a;
  /* margin: 0; */
  padding: 0;
}

.colContent::after {
    position: absolute;
    content: "";
    height: 104%;
    width: 1px;
    background-color: var(--dark);
    left: calc(100% + 1vw);
    top: -2%;
}
.testParent {
    overflow: hidden;
}
.testParent img{
    width: 300px;
    height: 150px;
}
.test{
    transform-origin: center bottom; /* Sets the rotation point at the bottom center of the div */
    transform: rotate(120deg);
}
.test::after{
    content: "";
    position: absolute;
    z-index: 99;
    width: 25px;
    height: 25px;
    border-radius: 999999999999px;
    background-color: #E1C655;
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%); 
}

.test::before{
    content: "";
    position: absolute;
    z-index: 100; /* Higher z-index to be on top of the ::after pseudo-element */
    width: 15px; /* Smaller size than the parent circle */
    height: 15px; /* Smaller size than the parent circle */
    border-radius: 50%; /* Ensures it's also a circle */
    background-color: #FFFFFF; /* White color */
    top: 50%;
    left: 3%;
    transform: translate(-50%, -50%); /* Center it inside the parent circle */
}