.card {
  border: 1px solid #dfdfdf;
  box-shadow: 1px 3px 6.6px 0px #00000026;
  border-radius: 20px;
}

.divider {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #2a2b2a;
  /* margin: 0; */
  padding: 0;
}

.columnContent::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--dark);
  left: calc(100% + 1vw);
  top: 0;
}
/* .speedIndicatorWrapper img {
  width: 300px;
  height: 150px;
} */
.overlayIndicator {
  transform-origin: center bottom; /* Sets the rotation point at the bottom center of the div */
  transform: rotate(140deg);
}
.overlayIndicator::after {
  content: "";
  position: absolute;
  z-index: 9;
  width: clamp(15px, 2vw, 25px); /* Min 15px, pref 2vw, max 25px */
  height: clamp(15px, 2vw, 25px); /* Min 15px, pref 2vw, max 25px */
  border-radius: 50%;
  background-color: #e1c655;
  top: 50%;
  left: 2.5%;
  transform: translate(-50%, -50%);
}

.overlayIndicator::before {
  content: "";
  position: absolute;
  z-index: 10; /* Higher z-index to be on top of the ::after pseudo-element */
  width: clamp(7.5px, 1vw, 12.5px); /* Min 7.5px, pref 1vw, max 12.5px */
  height: clamp(7.5px, 1vw, 12.5px); /* Min 7.5px, pref 1vw, max 12.5px */
  border-radius: 50%; /* Ensures it's also a circle */
  background-color: #ffffff; /* White color */
  top: 50%;
  left: 2.5%;
  transform: translate(-50%, -50%); /* Center it inside the parent circle */
}

.websiteSpeedScore {
  font-size: clamp(16px, calc(2.685vw + 0.1rem), 120px);
}

.websiteSpeedLabel {
  font-size: clamp(14px, calc(0.833vw + 0.1rem), 80px);
}
