.box{
    box-shadow: 0px 0px 14px 0px rgba(42, 43, 42, 0.25) inset;
    border: 1px solid transparent;
    border-radius: clamp(10px, calc(0.7vw + 0.1rem), 60px);
    overflow-x: hidden;
    height: 70vh;

}
.dataWrapper{
    overflow-y: auto;
    height: 70vh;
}
.dataWrapper::-webkit-scrollbar-track {
    background: transparent; 
}
.dataWrapper::-webkit-scrollbar-thumb {
    background: #2A2B2A; 
    width: clamp(2px, calc( 0.08vw + 0.1rem), 40px);
    border-radius: 10vw ;
}
.script p{
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 100px);
    font-weight: 400;
}
.script p::selection {
    background-color: #F36F2487;
    padding: 0.2vw 0.8vw;
  }
.script span{
    font-size: clamp(10px, calc( 0.7vw + 0.1rem), 100px);
    font-weight: 700;
    color: #A6A6A6;
}
.createMovie{
    display: flex;
    flex-direction: column;
    padding-top: 1vw;
    gap: 1vw;
}

.movieWrapper{
    background-color: #2A2B2A;
    box-shadow: 0px -77px 27px -21px #000000 inset;
}

